<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>176015174248-53k5ts8nuiupqsilsq0c73rk52vmfsu7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.176015174248-53k5ts8nuiupqsilsq0c73rk52vmfsu7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>176015174248-4tg320d7enct763d721lt2nv58bbnv5r.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD5oQYkkpSx5O6PJbag8dMXIkBrV2T2-mA</string>
	<key>GCM_SENDER_ID</key>
	<string>176015174248</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bdaynabday.yahay</string>
	<key>PROJECT_ID</key>
	<string>yahay-9f28f</string>
	<key>STORAGE_BUCKET</key>
	<string>yahay-9f28f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:176015174248:ios:d7beabab537a0d611e69dd</string>
</dict>
</plist>